.dart_tool/
build/
flutter_*.png
*.iml
.idea/
.gradle/
local.properties
android/.gradle/
android/local.properties
android/key.properties
android/app/google-services.json
.pub-cache/
.pub/
.metadata
*.lock
android/.android/
android/captures/
android/keystore.jks
